body{
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

* {
  cursor: url('https://cdn.cursors-4u.net/previews/purple-paw-print-d19c5382-32.webp') 32 32, auto !important;
}

html{
	scroll-behavior: smooth;
}

.maincontent{
	display: flex;
	align-self: start;
	gap: 20px;
	margin: 0 25px;
}

#mainpanel{
	background-color: #c0baba;
	height: 100%;
	width: 1200px;
	gap: 10px;
	margin: auto;
	margin-top: 50px;
	box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
}

#socialpanel{
	background-color: #c0baba;
	height: 70%;
	width: 500px;
	gap: 10px;
	margin: auto;
	box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
}

.aboutme{
	background-color: #85898d;
	border-style: dashed;
	justify-content: center;
	width: 500px;
	height: 400px;
	overflow: hidden;
	margin-top: 50px;
}

.aboutme p{
	font-family: 'Courier New', Courier, monospace;
	font-size: 18;
	text-align: center;
	font-weight: bold;
}

.me{
	margin-top:35px;
	height: 400;
}

.random{
	background-color: #85898d;
	border-style: dashed;
	width: 400px;
	height: 450px;
}

.likes{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.likestext{
	font-size: 20px;
	padding-left: 20px;
	font-weight: bolder;
}

ul{
	list-style: none;
}

li{
	padding: 2%;
	padding-left: 10px;
	font-size: 18;
}
.panel h3{
	text-align: center;
	margin: auto;
	padding: 20px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 40px;
	font-weight: bold;
	height: auto;
}

.Icon{
	padding: 10px;
}

.headerpanel{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: auto;
	position: absolute;
	top: 120px;
	left:35px;
	right: 1000px;
	height: 200px;
	width: 500px;
	background-color: #c0baba;
	box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
}

.headerpbar{
	background:linear-gradient(90deg,#3F1091,#85898d) ;
	font-weight: bold;
	display: flex;
	padding: 3px 2px 3px 3px;
	justify-content: space-between;
	align-items: center;
	padding: 2px 2px 3px;
	width: a;
	height: auto;
}

.Icon{
	float: right;
	margin-left: 10px;
}

button {
	background: #c2c6ca;
	border: none;
	padding: auto;
	border-radius: 0;
	outline: none;
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.shadow {
	box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white, inset -1px -1px #85898d;
}

.headerpanel h1{
	padding-left: 15px;
	color: #c0baba;
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	margin: 0;
}

.headerpanel h3{
	font-family: 'Courier New', Courier, monospace;
	font-style: bold;
	font-size: 30px;
	margin: auto;
	margin-left: 10px;
}

.separators{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.blinkies{
	padding: 10px;
	display: flex;
	align-self: flex-start;
	gap: 22px;
}

.navbar{
	background:linear-gradient(90deg,#3F1091,#85898d);
	height: 100px;
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
}

.navstamps{
	margin-left: auto;
	margin-right: 10px;
}

.navbar a{
	font-size: 25px;
	color: black;
	padding: 9px;
	margin: 10px 15px 10px 20px;
	text-decoration: none;
	background-color: #c0baba;
	font-family: 'Courier New', Courier, monospace;
	box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
}

.socialcontents{
	display: flex;
	align-self: start;
	gap: 20px;
	margin: 0 25px;
}

.socials{
	background-color: #85898d;
	border-style: dashed;
	display: flex;
	width: 455px;
	height: 400px;
	margin-right: auto;
	margin-left: 20px;
	gap: 20px;
}

.socials-list{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.socialsrow{
	display: flex;
	align-items: flex-start;
	gap: 10px;
	text-decoration: none;
	color: black;
}

.socialicons
{
	width: 100px;
	height: auto;
	margin-top: 7%;
}

.socialstext{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 19px;
	margin-top: 19%;
}

.credits{
	background-color: #c0baba;
	width: 1200px;
	display: block;
	box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
}

.credittext{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.credittext p{
	font-size: 20px;
}
